.pokemonCard {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonCardId {
  align-self: flex-start;
  margin: 3px;
}

.pokemonCardName {
  font-size: 35px;
  margin: 0;
}

.pokemonTypeWrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pokemonTypeElement {
  margin: 0 10px;
}
