.wrapper *,
.wrapper *::after,
.wrapper *::before {
  color: white !important;
  border-color: white !important;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper label {
  margin-right: 10px;
}
